
// TODO :
//  -> [x] Edit p
//  -> [ ] Style Button

// Colors

$green:     hsl(173, 56%, 29%);
$red:       hsl(1, 85%, 67%);
$teal:      hsl(175, 45%, 55%);
$yellow:    hsl(46, 88%, 59%);
$black:     hsl(207, 28%, 25%);
$white:     hsl(108, 22%, 95%);

// Pallete

$main:          $teal;
$main-light:    hsl(158, 52%, 68%);
$main-dark:     hsl(176, 38%, 40%);

$secondary:         $red;
$secondary-light:   hsl(358, 93%, 72%);
$secondary-dark:    hsl(350, 53%, 53%);

// Greyshade
$very-light-grey:   hsl(149, 10%, 89%);
$light-grey:        hsl(185, 8%, 76%);
$grey:              hsl(199, 8%, 60%);
$dark-grey:         hsl(204, 15%, 40%);
$very-dark-grey:    hsl(206, 23%, 29%);

// Tints

$tint-very-light-grey:   hsl(157, 30%, 80%);
$tint-light-grey:        hsl(166, 18%, 69%);
$tint-grey:              hsl(181, 11%, 54%);
$tint-dark-grey:         hsl(198, 17%, 38%);
$tint-very-dark-grey:    hsl(205, 24%, 29%);


// Shadows

$light-shadow:      rgba(0, 0, 0, 0.2);
$shadow:            rgba(0, 0, 0, 0.4);
$dark-shadow:       rgba(0, 0, 0, 0.6);


html{
    font-size: 2em;
    font-family: Lato, "Open Sans", "Raleway", sans-serif;
    color: $tint-very-dark-grey;

    body{
        padding: 0;
        margin: 0;

        header{
            // Stick the header at top
            position: sticky;
            top: 0px;

            background-color: $main;
            box-shadow: 0px 4px 8px $light-shadow;

            h1{
                font-size: 1.4em;
                padding: 8px;
                margin: 0 0 0 2em;
                color: $tint-very-light-grey;
                font-weight: 300;
            }
        }

        .page{

            padding: 0 24% 5% 24%;

            header{
                margin-top: 2em;
                position: initial;
                top: auto;
                text-align: center;

                background: none;
                box-shadow: none;

                h1{
                    font-weight: 200;
                    text-decoration: none;
                    font-size: 3em;
                    padding: 0px;
                    margin: 20px;
                    color: $very-dark-grey;
                }
            }

            .center{
                text-align: center;
            }

            h1{
                font-weight: 200;
                text-decoration: none;
                font-size: 2em;
                padding: 0px;
                margin: 20px;
            }

            h2{
                font-size: 1.5em;
                font-weight: 200;
                padding: 0px;
            }

            p{
                font-family: "Roboto Slab";
                font-size: 0.75em;
                text-align: justify;
                font-weight: lighter;
                line-height: 1.6;
                text-indent: 1em;
            }

            button{
                background-color: $secondary;
                color: $white;
                border: none;
                border-radius: 6px;
                font-size: 0.8em;
                font-weight: 300;
                padding: 0.8%;
                margin: 4% 1% 0.5% 1%;
                transition: all 0.2s;

                &:hover{
                    box-shadow: 0px 3px 10px $shadow;
                }

                &:active{
                    box-shadow: 0px 5px 12px $shadow;
                }

                &.secondary{
                    background-color: $secondary-light;
                }

                img.icon{
                    height: 100%;
                    width: 100%;
                }
            }


            // Special Tags

            .warn{
                transition: 0.3s;
                background-color: $red;
                color: $white;
                border-radius: 6px;
                font-size: 0.8em;
                font-weight: 300;
                padding: 0.8%;
                margin: 4% 0% 0.5% 0%;

                &:hover{
                    box-shadow: 0px 2px 6px $light-shadow;
                }
            }
        }
    }
}
